<ngx-spinner bdColor = "rgba(0, 0, 0, 0.96)" size = "large" color = "#fff" type = "ball-circus" [fullScreen] = "true"><p style="color: white" > Please wait... </p></ngx-spinner>
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header bg-Custome" [ngStyle]="setMyBgColor(userData.colorCode)">
                <div class="row">
                    <div class="col-lg-8 col-6">
                        <h5 class="m-b-0 text-white">Product Category Details</h5>
                    </div>
                    <div class="col-lg-4 col-6 float-right">
                        <a (click)="open(content,0)" class="text-white float-right"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <input type="text" style="padding:8px;margin:15px auto;width:30%;"
                        placeholder="Type to filter the columns" (keyup)="updateFilter($event)" />

                    <ngx-datatable #table ngClass="material" [columnMode]="ColumnMode.force" [scrollbarH]="scrollBarHorizontal"
                    [headerHeight]="50"
                        [footerHeight]="50" rowHeight="auto" [limit]="10" [rows]="productCatList">
                        <ngx-datatable-column name="Product Category Name">
                          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                           <span>{{row.productCategotryName}}</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Company Name">
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Actions" [sortable]="false" style="float: right;">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <a (click)="editViewRow(row,content,0)" *ngIf="row.isAssigned == 0"  title="" class="text-inverse ">
                                    <i class="far fa-edit text-info"></i>
                                </a>
                                <a (click)="editViewRow(row,content,1)" title="" class="text-inverse " style="margin: 0 0 0 10px;">
                                    <i class="fas fa-eye text-info"></i>
                                </a>
                                <a (click)="deleteRecord(row)" title="" *ngIf="row.isAssigned == 0"  class="text-inverse "
                                    style="margin: 0 0 0 10px;">
                                    <i class="fas fa-trash-alt text-danger"></i>
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                    <!-- <table class="table table-bordered table-striped mb-0 no-wrap v-middle" *ngIf="productCatList">
                        <thead>
                            <tr>
                                <th>Product Category Name</th>
                                <th>Company Name</th>
                               <th style="text-align: center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let fr of productCatList">
                                <td>{{ fr.productCategotryName }}</td>
                                <td>{{ fr.companyName }}</td>

                                <td align="center">
                                    <a (click)="editRow(fr,content)" title="" data-toggle="tooltip" data-original-title="Delete"
                                        class="text-inverse ">
                                        <i class="far fa-edit text-info"></i>
                                    </a>
                                    <a (click)="deleteRecord(fr)" title="" data-toggle="tooltip"
                                        data-original-title="Delete" class="text-inverse " style="margin: 0 0 0 10px;">
                                        <i class="fas fa-trash-alt text-danger"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table> -->
                </div>
            </div>
        </div>
    </div>
    <ng-template #content let-modal>
        <div class="modal-header" [ngStyle]="setMyBgColor(userData.colorCode)" >
            <h4 class="modal-title" id="modal-basic-title">Product Category</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div *ngIf="mode=='Edit'">
            <form autocomplete="off" #form="ngForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="prCatName">Product Category Name</label>
                        <input id="productCategotryName" class="form-control" placeholder="Product Category Name"
                            name="productCategotryName" #productCategotryName="ngModel"
                            ngModel="{{productCat.productCategotryName}}" required>
                        <div *ngIf="productCategotryName.invalid && (productCategotryName.dirty || productCategotryName.touched)"
                            class="alert-danger">
                            <div *ngIf="productCategotryName.errors?.required" class="alert alert-danger p-2" role="alert">
                                Please enter Product Category Name.</div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="hidden" id="productCategoryID" name="productCategoryID" #productCategoryID="ngModel"
                        ngModel={{productCat.productCategoryID}} />
                    <button type="submit" class="btn btn-success" (click)="onSubmit(form.value)"
                        [ngStyle]="setMyBgColor(userData.colorCode)" [disabled]="form.invalid">Save</button>
                </div>
            </form>
        </div>
        <div *ngIf="mode=='View'">
            <form autocomplete="off" #form="ngForm">
                <div class="modal-body">
                    <div class="col-lg-6 form-group" *ngIf="userData.isCompanyFlag == 0">
                                <h5 class="text-bold-600">Product Category Name</h5>
                                <h4 class="text-muted text-bold-600"> {{productCat.productCategotryName }}</h4>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>
</div>
